.section {
  padding-inline: 1.5rem;
}
.container {
  max-width: 75rem;
  margin-inline: auto;
}

#canvas-container {
  margin-inline: auto;
  background-color: red;
  > canvas {
    margin-inline: auto;
  }
}
